.homepage{
    background-color: antiquewhite;
}
.d-block{
    border-radius: 10px;
}
.bi-twitter{
    margin-right: 5px;
}
.bi-instagram{
    margin-right: 5px;
}
.bi-linkedin{
    margin-right: 5px;
    margin-left: 4px;
}